.notification-image {
  border-radius: 50%;
  border: transparent;
  background: #fff;
  -webkit-box-shadow: 0 3px 4px 0px rgba(0,0,0,0.5);
  box-shadow: 0 1px 4px 0px rgba(0,0,0,0.25);
}

.notification {
  color: #000;
}

.media {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 3px 4px 0px rgba(0,0,0,0.5);
  box-shadow: 0 1px 4px 0px rgba(0,0,0,0.25);
}

.notification-new {
  border: 1px solid rgba(0, 157, 120, 0.75);
  border-radius: 5px;
  padding: 5px;
}
