<div *ngFor="let not of notifikationen">
  <a class="notification" *ngIf="not.typ === NotifikationTyp.MATCH" (click)="openNotification(not.id, ['/appointment', not.relation.topic.id , 'create'])">
    <div class="media" [class.notification-new]="!not.read">
      <img alt="topic_name" class="align-self-center mr-3 notification-image"
           src="../../assets/trophy.png" height="64px" width="64px" />
      <p><b>Dein Thema {{not.relation.label}}gewinnt an Interesse!</b></p>
    </div>
  </a>

  <a class="notification" *ngIf="not.typ === NotifikationTyp.EVENT" (click)="openNotification(not.id, ['/appointment', not.relation.id])">
    <div class="media" [class.notification-new]="!not.read">
      <img alt="topic_name" class="align-self-center mr-3 notification-image"
           src="../../assets/calendar.jpg" height="64px" width="64px" />
      <div class="media-body">
        <p>Am <b>{{not.relation.datum | date: 'dd.MM.yyyy'}}</b> findet ein Austausch zum Thema <b>{{not.relation.topic.label}}</b> statt! - Nimmst du teil?</p>
      </div>
    </div>
  </a>

  <a class="notification" *ngIf="not.typ === NotifikationTyp.PARTIPICATE" (click)="openNotification(not.id, ['/appointment', not.relation.id])">
    <div class="media" [class.notification-new]="!not.read">
      <img alt="topic_name" class="align-self-center mr-3 notification-image"
           src="../../assets/profile.png" height="64px" width="64px" />
      <div class="media-body">
        <p>Neuer Teilnehmer! Du hast eine neue Anmeldung zu deinem Event vom <b>{{not.relation.datum | date: 'dd.MM.yyyy'}}</b> zum Thema <b>{{not.relation.topic.label}}</b> </p>
      </div>
    </div>
  </a>
  <div *ngIf="notifikationen.length === 0">
    <p>Derzeit gibt es keine Notifikationen</p>
  </div>
</div>
