<hr>
<div *ngFor="let not of notifikations | async">
  <a class="notification" *ngIf="not.typ === 1" routerLink="notifications/appointment">
    <div class="media">
      <img alt="topic_name" class="align-self-center mr-3 notification-image"
           src="../../assets/trophy.png" height="64px" width="64px" />
      <p><b>Dein Thema gewinnt an Interesse!</b></p>
    </div>
    <hr>
  </a>

  <a class="notification" *ngIf="not.typ === 2" routerLink="notifications/appointment">
    <div class="media">
      <img alt="topic_name" class="align-self-center mr-3 notification-image"
           src="../../assets/calendar.jpg" height="64px" width="64px" />
      <div class="media-body">
        <p><b>Es gibt ein Event für dein Interesse!</b> Am 12. Mai findet ein Austausch zum Thema Excel statt - nimmst du teil?</p>
      </div>
    </div>
    <hr>
  </a>

  <a class="notification" *ngIf="not.typ === 3" routerLink="notifications/appointment">
    <div class="media">
      <img alt="topic_name" class="align-self-center mr-3 notification-image"
           src="../../assets/max.jpg" height="64px" width="64px" />
      <div class="media-body">
        <p><b>Neuer Teilnehmer!</b> Du hast eine neue Anmeldung zu deinem Event vom !</p>
      </div>
    </div>
    <hr>
  </a>

</div>
