.navbar a{
  color: rgba(0,0,0,0.5) !important;
}

.navbar a.active {
  color: rgba(0,0,0,0.9) !important;
}

.menu-text {
  font-size: 0.75rem;
}

.menu-text i {
  font-size: 0.75rem;
}

.navbar {
  background-color: rgba(222, 220, 210, 0.25) !important;
  z-index: 1;
}

.fixed-bottom {
  background-color: rgba(222, 220, 210, 0.25);
  z-index: 1;
}

#notifications {
  position: relative;
}

#notification-counter {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 10px;
}


