.topic-image {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 10px 10px 41px -19px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 41px -19px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 41px -19px rgba(0,0,0,0.75);
}

.topic-image-title {
  margin-top: 2rem;
  text-align: center;
}

.appointment-button {
  margin-top: 10px;
  width: 100%;
  color: white !important;
}

.topic-description {
  text-align: center;
}

.create-event-button {
  position: relative;
  text-align: center;
  border-radius: 50%;
  border-color: transparent;
  font-size: 30px;
  padding: 2% 5%;
  margin-left: 20px;
  margin-right: 20px;
  color: rgba(0, 157, 120, 0.75) !important;
  background: #fff;
  -webkit-box-shadow: 0 3px 4px 0px rgba(0,0,0,0.5);
  box-shadow: 0 1px 4px 0px rgba(0,0,0,0.25);
}

.appointment-actions {
  text-align: center;
}

.join-event-button {
  position: relative;
  text-align: center;
  border-radius: 50%;
  border-color: transparent;
  font-size: 30px;
  padding: 2% 5%;
  margin-left: 20px;
  margin-right: 20px;
  color: rgba(0, 157, 120, 0.75) !important;
  background: #fff;
  -webkit-box-shadow: 0 3px 4px 0px rgba(0,0,0,0.5);
  box-shadow: 0 1px 4px 0px rgba(0,0,0,0.25);
}

.cancel-event-button {
  position: relative;
  text-align: center;
  border-radius: 50%;
  border-color: transparent;
  font-size: 30px;
  padding: 2% 6%;
  margin-left: 20px;
  margin-right: 20px;
  color: #da2323 !important;
  background: #fff;
  -webkit-box-shadow: 0 3px 4px 0px rgba(0,0,0,0.5);
  box-shadow: 0 1px 4px 0px rgba(0,0,0,0.25);
}
