.topic-image {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 19px 23px 41px -19px rgba(0,0,0,0.75);
  -moz-box-shadow: 19px 23px 41px -19px rgba(0,0,0,0.75);
  box-shadow: 19px 23px 41px -19px rgba(0,0,0,0.75);
}

.topic-image-title {
  margin-top: 2rem;
  text-align: center;
}

.appointment-button {
  margin-top: 10px;
  width: 100%;
  color: white !important;
}

.create-event-button {
  width: 100%;
  text-align: center;
}
