<div class="topic-image"><img [src]="topic.image" class="topic-image"/></div>
<h1 class="topic-image-title">{{topic.label}}</h1>
<p>{{topic.description}}</p>
<div *ngIf="createMode"><!-- Aria for creating an Appointment -->
  <div class="form-group">
    <label for="place">Veranstaltungsort</label>
    <input type="place" class="form-control" id="place" placeholder="Gib einen Ort ein...">
  </div>
  <div class="form-group">
    <label for="date">Datum</label>
    <input type="date" class="form-control" aria-describedby="dateHelp" id="date" placeholder="Datum eingeben...">
    <small id="dateHelp" class="form-text text-muted">Denk dran, jeder Termin findet von 12:00 bis 13:00 statt.</small>
  </div>
  <a (click)="create()" class="btn btn-primary create-event-button">Event
    erstellen</a>
</div>


<div *ngIf="!createMode"><!-- Aria for participating to an Appointment -->
  <p *ngIf="meeting.created">Sie haben das Meeting erstellt</p>
  <p *ngIf="meeting.participate">Sie nehmen am Meeting teil</p>
    <p>Veranstaltungsort: {{meeting.ort}}</p>
    <p>Datum: {{meeting.datum}}</p>
  <form  *ngIf="!meeting.participate">
    <a (click)="participate()" class="btn btn-success create-event-button">Bin dabei!</a>
    <a (click)="notParticipate()" class="btn btn-danger create-event-button">Ich kann nicht.</a>
  </form>

</div>
