<div class="media">
  <img src="..." class="align-self-center mr-3" alt="...">
  <div class="media-body">
    <p>Topic A <span class="badge badge-success">120 Likes</span></p>
   </div>
</div>
<div class="media">
  <img src="..." class="align-self-center mr-3" alt="...">
  <div class="media-body">
    <p>Topic B <span class="badge badge-success">105 Likes</span></p>
  </div>
</div>
<div class="media">
  <img src="..." class="align-self-center mr-3" alt="...">
  <div class="media-body">
    <p>Topic C <span class="badge badge-success">60 Likes</span></p>
  </div>
</div>
<div class="media">
  <img src="..." class="align-self-center mr-3" alt="...">
  <div class="media-body">
    <p>Topic D <span class="badge badge-success">10 Likes</span></p>
  </div>
</div>
