<div class="stage">
  <div class="stackedcards stackedcards--animatable" id="stacked-cards-block">
    <div class="stackedcards-container">

      <app-card *ngFor="let card of cards | async" [description]="card.description" [image]="card.image" [key]="card.id"
                [label]="card.label"></app-card>
    </div>
    <div class="stackedcards--animatable stackedcards-overlay top"><img
      height="auto" src="https://image.ibb.co/m1ykYS/rank_army_star_2_3x.png" width="auto"/></div>
    <div class="stackedcards--animatable stackedcards-overlay right"><img height="auto"
                                                                          src="https://image.ibb.co/dCuESn/Path_3x.png"
                                                                          width="auto"/></div>
    <div class="stackedcards--animatable stackedcards-overlay left"><img
      height="auto" src="https://image.ibb.co/heTxf7/20_status_close_3x.png" width="auto"/></div>
  </div>


  <div class="global-actions">
    <div class="left-action"><img height="26" src="https://image.ibb.co/heTxf7/20_status_close_3x.png" width="26"/>
    </div>
    <div class="top-action"><img height="16" src="https://image.ibb.co/m1ykYS/rank_army_star_2_3x.png" width="18"/>
    </div>
    <div class="right-action"><img height="28" src="https://image.ibb.co/dCuESn/Path_3x.png" width="30"/></div>
  </div>
</div>

<div class="final-state hidden">
  <img alt="swiped through emoji" src="../../assets/emoji.png">
  <h2>Es gibt keine Themen mehr!</h2>
  <p>Animiere deine Kollegen neue Themen einzugeben oder erstelle jetzt dein eigenes!</p>
  <a class="btn btn-primary add-topic-button">Thema hinzufügen</a>
</div>
