
/* import font ROBOTO */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

/* class created only for a better preview*/
.stage {
  display:block;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.stage.hidden {
  display: none;
  transition: all 400ms ease;
}

@media screen and (max-width: 600px) {
  .stage {
    max-width: 100%;
  }
}

.match-state {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  height: 100vh;
}

.confetti {
  background-image: url('../../assets/source.gif');
  background-position: cover;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  max-width: 100%;
  z-index: 51;
}

.match-text {
  position: relative;
  top: 20vh;
  z-index: 52;
  max-width: 100%;
}

.explosion {
  position: relative;
  top: -2vh;
  left: 0;
  right: 0;
  z-index: 51;
  max-width: 100%;
}

.match-description {
  position: relative;
  top: 1vh;
  z-index: 52;
  max-width: 100%;
  color: #fff;
  text-align: center;
  padding: 0 20px 0 20px;
}

.match-description h4 {
  font-size: 3vh;
}

.match-description h5 {
  font-size: 2vh;
}

.match-description hr {
  background-color: #fff;
}

.match-buttons {
  position: relative;
  top: 1vh;
  width: 100%;
}
.create-event-button {
  position: absolute;
  top: 1rem;
  z-index: 52;
  color: #fff !important;
  text-align: center;
  border-radius: 50%;
  font-size: 60px;
  background-color: rgba(0, 157, 120, 0.75);
  border-color: rgba(0, 157, 120, 0.75);
  padding: 1% 6.5%;
  right: 37.5%;
}

.cancel-button {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 52;
  color: #fff !important;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  background-color: transparent;
  border-color: #fff;
  padding: 0 3%;

}



/* global actions buttons*/
.global-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 30px;
  min-width: 200px;
}

.right-action,
.left-action {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #fff;
  -webkit-box-shadow: 0 3px 4px 0px rgba(0,0,0,0.5);
  box-shadow: 0 1px 4px 0px rgba(0,0,0,0.25);
}
.right-action,
.left-action {
  width: 60px;
  height: 60px;
}

.top-action {
  width: 40px;
  height: 40px;
  margin: 0 20px;
}

.final-state.active {
  margin-top: 5rem;
  display: block;
  text-align: center;
}

.final-state.hidden {
  display: none
}

.add-topic-button {
  margin-top: 2rem;
  color: white !important;
  width: 100%;
}

.like-button {
  font-size: 30px;
  color: rgba(0, 157, 120, 0.75);
}

.dislike-button {
  font-size: 30px;
  color: #da2323;
}

.add-button {
  font-size: 20px;
  color: rgba(255, 172, 42, 0.75);
}

/*------ CSS Use Case Example END ------*/

/*----- Stacked Cards component css START -----*/

.no-transition {
  -webkit-transition: none ! important;
  transition: none ! important;
}

.stackedcards-overflow {
  overflow-y: hidden !important;
}

.stackedcards.init {
  opacity: 0;/* set the opacity to 0 if you want a fade-in effect to stacked cards on page load */
}

.stackedcards {
  position: relative;
}

.stackedcards * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.stackedcards--animatable {
  -webkit-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

.stackedcards .stackedcards-container > *,
.stackedcards-overlay {
  position: absolute;
  width: 100%; /* set 100% */
  height: 100%; /* set 100% */
  will-change: transform, opacity;
  top: 0;
  border-radius: 10px;
  min-width: 265px;
}

.stackedcards-overlay.left > div,
.stackedcards-overlay.right > div,
.stackedcards-overlay.top > div {
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.stackedcards-overlay.left,
.stackedcards-overlay.right,
.stackedcards-overlay.top {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  opacity: 0;
  top: 0;
  height: 100%;
}

.stackedcards-overlay.top,
.stackedcards-overlay.right,
.stackedcards-overlay.left {
  background: #fff;
}

.stackedcards-overlay.left:empty,
.stackedcards-overlay.right:empty,
.stackedcards-overlay.top:empty {
  display: none !important;
}

.stackedcards-overlay-hidden {
  display: none;
}

.stackedcards-origin-bottom {
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
}

.stackedcards-origin-top {
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}

.stackedcards-bottom,
.stackedcards-top,
.stackedcards-none {
  background: #fff; /* set card background background */
  box-shadow: 0 3px 12px 0 rgba(0,0,0,0.10);
  height: 100%;
}

.stackedcards .stackedcards-container > :nth-child(1) {
  position: relative;
  display: block;
}
