<div *ngIf="!matchIndex" class="stage">
  <div class="stackedcards stackedcards--animatable" id="stacked-cards-block">
    <div class="stackedcards-container">

      <app-card *ngFor="let card of cards" [description]="card.description" [image]="card.image" [key]="card.id"
                [label]="card.label"></app-card>
    </div>
    <div class="stackedcards--animatable stackedcards-overlay top"></div>
    <div class="stackedcards--animatable stackedcards-overlay right like-button"><i class="far fa-thumbs-up"></i></div>
    <div class="stackedcards--animatable stackedcards-overlay left dislike-button"><i class="far fa-thumbs-up fa-rotate-180"></i></div>
  </div>


  <div class="global-actions">
    <div class="left-action dislike-button"><i class="far fa-thumbs-up fa-rotate-180"></i></div>
    <div class="top-action add-button"></div>
    <div class="right-action like-button"><i class="far fa-thumbs-up"></i></div>
  </div>
</div>

<div *ngIf="matchIndex" class="match-state">
  <div class="confetti">
    <img class="match-text" src="../../assets/itsamatch.png">
    <img class="explosion" src="../../assets/explosion.png">
    <p class="match-description">Du hast den Unterschied gemacht! Es sind nun genügend Interessenten, um sich zu treffen. Organisier doch gleich einen Termin!</p>
    <a [routerLink]="['/appointment', matchIndex, 'create']" class="btn btn-primary create-event-button">Event
      erstellen</a>
    <a (click)="resetMatchIndex()" class="btn btn-danger cancel-button">Nicht jetzt</a>
  </div>
</div>

<div class="final-state hidden">
  <img alt="swiped through emoji" src="../../assets/emoji.png">
  <h2>Es gibt keine Themen mehr!</h2>
  <p>Animiere deine Kollegen neue Themen einzugeben oder erstelle jetzt dein eigenes!</p>
  <a class="btn btn-primary add-topic-button">Thema hinzufügen</a>
</div>
