/* You can add global styles to this file, and also import other style files */
.bg-shadow
  -webkit-box-shadow: 3px -10px 49px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px -10px 49px 0px rgba(0,0,0,0.25);
  box-shadow: 3px -10px 49px 0px rgba(0,0,0,0.25);

.content
  margin-top: 7rem
